body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 100px;

}
header {
    background: #ebebeb;
    text-align: center; 
    height: 92px;

    
}
#navbar {
    background: #ebebeb;
    text-align: center;
    height: 92px;
    
    
}
 .section {
    background: #ebebeb;
    width: 495px;
    text-align: center;
    padding: 10px;
    margin-right: 6px;
    border-style: solid;
    border-color: green;
    padding-top: 41px;

    
}
article {
    color: #ebebeb;
    background: #777;
    width: 481px;
    text-align: center;
    padding: 8px;

    
}

h1, p {
    color: #777;
    background: #ebebeb;
    width: 497px;
    height: 56px;
    margin-left: 4px;
}
p {
    /* margin-bottom: 20px; */
}
aside {
    background: #ebebeb;
    width: 446px;
    text-align: center;
    float:right;
    height: 300px;
    margin-bottom: 38px;
    margin-top: -275px;
    border-style:solid;
    border-color: red;

}    
}
footer {
    background: #ebebeb;
    padding: 30px;
    clear: both;
    
}
