body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 100px;

}
header {
    background: #ebebeb;
    text-align: center; 
    height: 75px;
    padding-top: 50px;
    
}
#navbar {
    background: #ebebeb;
    text-align: center;
    height: 75px;
    padding-top: 50px;;
    
    
}
 .section {
    background: #ebebeb;
    width: 471px;
    text-align: center;
    padding: 10px;
    margin-right: 6px;
    padding-top: 41px;

    
}
article {
    color: #ebebeb;
    background: #777;
    width: 456px;
    text-align: center;
    padding: 8px;
    padding-top: 26px;
    margin-top: 7px;

    
}

h1, p {
    color: #777;
    background: #ebebeb;
    width: 447px;
    height: 56px;
    margin-left: 4px;
    padding-top: 26px;
}

aside {
    background: #ebebeb;
    width: 446px;
    text-align: center;
    float:right;
    height: 210px;
    margin-bottom: 38px;
    margin-top: -385px;
    padding-top: 149px;

}    

.footer {
    background: #ebebeb;
    padding: 30px;
    
    text-align: center;
}
